<h2>Gastos</h2>

<div>
  <p>Total gastado: ${{ totalGastadoGeneral }} MXN</p>
</div>

<div class="card-gastos-container">
  @for (gasto of listarGastos; track gasto.id) {
    <div class="gasto-card">
      <p class="gasto-card-titulo">{{ gasto.nombre }}</p>
      <p>${{ gasto.monto.toFixed(2) }} MXN</p>
      <p>{{ capitaizar(gasto.categoria) }}</p>
      <p>{{ gasto.fecha | date: "dd/MM/yyyy" }}</p>

      <div class="btns-card">
        <button
          (click)="abrirModalEliminar(gasto.id)"
          class="btn-card-eliminar"
        >
          Eliminar
        </button>
        <button (click)="abrirModal(gasto)" class="btn-card-actualizar">
          Actualizar
        </button>
      </div>
    </div>
  }
</div>

<!-- MODAL PARA ELIMINAR -->
@if (modalAbiertoEliminar()) {
  <div class="container-modal">
    <div class="modal-content">
      <button (click)="cerrarModalEliminar()" class="btn-cerrar">X</button>
      <p>¿Seguro que quieres eliminar este gasto?</p>
      <p>Esta acción no se puede deshacer.</p>
      <button
        (click)="confirmarEliminar()"
        class="btn-confirmar btn-confirmar-eliminar"
      >
        Confirmar
      </button>
    </div>
  </div>
}

<!-- MODAL PARA ACTUALIZAR -->
@if (modalAbierto() && gastoAEditar) {
  <div class="container-modal">
    <div class="modal-content">
      <button (click)="cerrarModal()" class="btn-cerrar">X</button>
      <p>Actualizando</p>

      <div class="form-group">
        <label for="gasto-actualizar">Gasto</label>
        <input
          type="text"
          placeholder="Gasto"
          [(ngModel)]="gastoAEditar.nombre"
          id="gasto-actualizar"
        />
      </div>

      <div class="form-group">
        <label for="monto-actualizar">Monto</label>
        <input
          type="number"
          placeholder="Monto"
          [(ngModel)]="gastoAEditar.monto"
          id="monto-actualizar"
        />
      </div>
      <button
        (click)="confirmarActualizar(gastoAEditar.id)"
        class="btn-confirmar"
      >
        Confirmar
      </button>
    </div>
  </div>
}
