<h2>Gastos</h2>

<div>
  <p>Total gastado: ${{ totalGastadoGeneral }} MXN</p>
</div>

<div class="card-gastos-container">
  @for (gasto of listarGastos; track gasto.id) {
    <div class="gasto-card">
      <p class="gasto-card-titulo">{{ gasto.nombre }}</p>
      <p>${{ gasto.monto }} MXN</p>
      <p>{{ capitaizar(gasto.categoria) }}</p>
      <p>{{ gasto.fecha | date: "dd/MM/yyyy" }}</p>

      <button (click)="abrirModalEliminar(gasto.id)">Eliminar</button>
      <button (click)="abrirModal(gasto)">Actualizar</button>
    </div>
  }
</div>

<!-- MODAL PARA ELIMINAR -->
@if (modalAbiertoEliminar) {
  <div class="container-modal">
    <div class="modal-content">
      <button (click)="cerrarModalEliminar()">X</button>
      <p>¿Seguro que quieres eliminar este gasto?</p>
      <p>Esta acción no se puede deshacer.</p>
      <button (click)="confirmarEliminar()">Confirmar</button>
    </div>
  </div>
}

<!-- MODAL PARA ACTUALIZAR -->
@if (modalAbierto && gastoAEditar) {
  <div class="container-modal">
    <div class="modal-content">
      <button (click)="cerrarModal()">X</button>
      <p>Acualizando</p>
      <input
        type="text"
        placeholder="Gasto"
        [(ngModel)]="gastoAEditar.nombre"
      />
      <input
        type="number"
        placeholder="Monto"
        [(ngModel)]="gastoAEditar.monto"
      />
      <button (click)="confirmarActualizar(gastoAEditar.id)">Confirmar</button>
    </div>
  </div>
}
