<form
  [formGroup]="registroGasto"
  (ngSubmit)="handleSubmit()"
  class="container-registro"
>
  <div class="label-input-registro">
    <label for="nombre-gasto">Gasto</label>
    <input
      type="text"
      id="nombre-gasto"
      formControlName="nombre"
      placeholder="Ingresa el nombre del gasto"
    />
  </div>

  <div class="label-input-registro">
    <label for="monto-gasto">Monto</label>
    <input
      type="number"
      id="monto-gasto"
      formControlName="monto"
      placeholder="ingresa el monto de la operación"
    />
  </div>

  <div class="label-input-registro">
    <br />
    <button>Registrar</button>
  </div>
</form>
